@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
    background: url("../images/empire-of-noxus.jpeg") no-repeat center center;
    background-size: cover;
    background-color:  rgb(31 41 72);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

h1, h2 {
    font-family: "Bitter", serif;
    text-transform: uppercase;
}

header {
    margin: 30px;
}

h1 a {
    text-decoration: none;
    color: rgb(233, 238, 240);
}

h2 {
    text-align: center;
    padding-bottom: 30px;
    color: rgb(19, 28, 54);
}

.introduction,
.content {
    max-width: 700px;
    margin: 200px auto 100px;
    padding: 40px;
    background-color: rgba(233, 238, 240, 0.8);
    letter-spacing: 0.1rem;
    text-align: justify;
}

li {
    list-style-type: none;
}

div .ready {
    text-align: center;
}

button {
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(31 41 72);
}

button a,
#submit,
#retry {
    text-decoration: none;
    font-size: 1.15rem;
    line-height: 2rem;
    color: rgb(216, 201, 198);
}

div #quiz-btn {
    text-align: center;
}

.pg-two {
    background: url("../images/shadow-isles-vaults.jpeg") no-repeat center center;
    background-size: cover;
    background-color: rgb(31 41 72);
}

#quiz-area {
    padding: 30px;
}

.question {
    padding: 10px;
}

.answers {
    padding: 20px;
}

